<div class="container">
    <h1 class="text-center"> {{foto.titulo}}</h1>
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <form class="row" [formGroup]="meuForm" (submit)="cadastrar($event)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <input name="titulo" formControlName="titulo" [(ngModel)]="foto.titulo" class="form-control"  autocomplete="off">                
                <div *ngIf="!meuForm.controls.titulo.valid">

                    <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">
                        Título obrigatório
                    </span>

                    <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">
                        Título deve ter no mínimo 4 caracteres
                    </span>     

                </div>   
            </div>
            <div class="form-group">
                <label>URL</label>
                <input name="url"  formControlName="url"  [(ngModel)]="foto.url" class="form-control"  autocomplete="off">                
                <div *ngIf="!meuForm.controls.url.valid">

                    <span *ngIf="meuForm.controls.url.errors.required" class="form-control alert-danger">
                        URL obrigatória
                    </span>     

                </div> 

            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea name="descricao"  formControlName="descricao"  [(ngModel)]="foto.descricao" class="form-control"  autocomplete="off">
                </textarea>
            </div>
            <botao nome="Salvar" tipo="submit" estilo="btn-primary" [desabilitado]="!meuForm.valid"></botao>
            <!--
            <button type="submit"  class="btn btn-primary" [disabled]="meuForm.invalid">
                Salvar
            </button>
            -->
             <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
        <div class="col-md-6">
            <foto [titulo]='foto.titulo' [url]='foto.url'> </foto>
        </div>
    </form>
</div>